Repository zuri-training/Col_Films_Proj_Team_113, pull requests merged in 2022-08, with the labels that each got.

#45 Adebola Adedeji - Watch Video screen for VidHut
  design/Watch video HiFi.png
Labels: design

#46 Nwakor Stella Chinenye
  design/Typography.png
Labels: design

#50 Olamide's contribution to the Interview Script
  design/Interview Script.md.docx
Labels: design

#63 Nwakor Stella Chinenye
  design/how to uploadfeature.jpg
Labels: design

#83 views for 'watch-later' , models and ursl
  backend/config/admin.py
  backend/config/models.py
  backend/config/urls.py
  backend/config/views.py
  backend/templates/videos/videopost.html
  backend/templates/videos/watchlater.html
  backend/videos/admin.py
  backend/videos/models.py
  backend/videos/urls.py
  backend/videos/views.py
Labels: backend

#84 feat: forgot password, viewer signup and login
  backend/accounts/admin.py
  backend/accounts/authentication.py
  backend/accounts/forms.py
  backend/accounts/managers.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/0002_viewer_email_confirmed_alter_viewer_about_and_more.py
  backend/accounts/migrations/0003_remove_viewer_email_confirmed_and_more.py
  backend/accounts/models.py
  backend/accounts/tokens.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/config/settings.py
  backend/config/urls.py
  backend/core/__init__.py
  backend/core/admin.py
  backend/core/apps.py
  backend/core/migrations/__init__.py
  backend/core/models.py
  backend/core/tests.py
  backend/core/urls.py
  backend/core/views.py
  backend/db.sqlite3
  backend/static/images/bg-image.jpg
  backend/static/images/logo.png
  backend/static/images/mail.png
  backend/static/styles/app.css
  backend/templates/base.html
  backend/templates/core/home.html
  backend/templates/partials/_alerts.html
  backend/templates/partials/_form_errors.html
  backend/templates/registration/account_activation_email.html
  backend/templates/registration/account_activation_sent.html
  backend/templates/registration/account_activation_subject.txt
  backend/templates/registration/activate.html
  backend/templates/registration/base.html
  backend/templates/registration/login.html
  backend/templates/registration/password_reset_complete.html
  backend/templates/registration/password_reset_confirm.html
  backend/templates/registration/password_reset_email.html
  backend/templates/registration/signup.html
Labels: backend

#132 Update Olamide.md
  contributions/Olamide.md
Labels: design

#137 fix: linked backend code with updated frontend designs for auth
  backend/accounts/admin.py
  backend/accounts/authentication.py
  backend/accounts/forms.py
  backend/accounts/models.py
  backend/accounts/signals.py
  backend/accounts/templates/accounts/header.html
  backend/accounts/templates/accounts/home.html
  backend/accounts/templates/accounts/login.html
  backend/accounts/templates/accounts/register.html
  backend/accounts/tokens.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/config/models.py
  backend/config/settings.py
  backend/config/urls.py
  backend/config/views.py
  backend/core/utils.py
  backend/core/views.py
  backend/db.sqlite3
  backend/static/images/Cancel.svg
  backend/static/images/bg-image.jpg
  backend/static/images/call.png
  backend/static/images/category-anime.jpg
  backend/static/images/category-comedy.jpg
  backend/static/images/category-film.jpg
  backend/static/images/category-music.jpg
  backend/static/images/category-poetry.jpg
  backend/static/images/category-tutorial.jpg
  backend/static/images/danger.svg
  backend/static/images/double_check.svg
  backend/static/images/feature-1.jpg
  backend/static/images/feature-2.jpg
  backend/static/images/feature-3.jpg
  backend/static/images/how-to-1.jpg
  backend/static/images/how-to-2.jpg
  backend/static/images/how-to-3.jpg
  backend/static/images/how-to-4.jpg
  backend/static/images/how-to-5.jpg
  backend/static/scripts/app.js
  backend/static/scripts/bootstrap.bundle.min.js
  backend/static/styles/app.css
  backend/static/styles/auth.css
  backend/static/styles/bootstrap.css
  backend/templates/base.html
  backend/templates/core/home.html
  backend/templates/core/landing.html
  backend/templates/registration/base.html
  backend/templates/registration/login.html
  backend/templates/registration/password_reset_complete.html
  backend/templates/registration/password_reset_confirm.html
  backend/templates/registration/password_reset_done.html
  backend/templates/registration/password_reset_form.html
  backend/templates/registration/signup.html
  backend/templates/registration/signup_choice.html
  backend/templates/registration/signup_viewer.html
  backend/videos/forms.py
  backend/videos/models.py
  backend/videos/views.py
Labels: backend

#145 fix: linked some video templates to backend
  backend/accounts/migrations/0004_alter_user_options_alter_creator_about_and_more.py
  backend/config/settings.py
  backend/config/urls.py
  backend/core/views.py
  backend/db.sqlite3
  backend/media/thumbnails/desktop.jpg
  backend/media/thumbnails/desktop_UzOttrM.jpg
  backend/media/videos/1._Introduction.mp4
  backend/media/videos/1._Introduction_jkQp3HB.mp4
  backend/requirements.txt
  backend/static/images/Clock.png
  backend/static/images/Download.png
  backend/static/images/Explore.png
  backend/static/images/Group 1.png
  backend/static/images/Icon.png
  backend/static/images/Notification.png
  backend/static/images/Select thumbnail img.png
  backend/static/images/Upload.png
  backend/static/images/Vector (2).png
  backend/static/images/Vector (3).png
  backend/static/images/Vector (4).png
  backend/static/images/Vector.png
  backend/static/images/bg-image.png
  backend/static/images/eye.png
  backend/static/images/image 22.png
  backend/static/images/image 27.png
  backend/static/images/image 55.png
  backend/static/images/menu.png
  backend/static/images/pause.png
  backend/static/images/search.png
  backend/static/images/send-2.png
  backend/static/images/send.png
  backend/static/images/setting-2.png
  backend/static/images/tao2.png
  backend/static/images/user.png
  backend/static/images/volume-high.png
  backend/static/scripts/views.js
  backend/static/scripts/watch.js
  backend/static/styles/style.css
  backend/static/styles/views.css
  backend/static/styles/watch.css
  backend/static/styles/watch.js
  backend/templates/core/home.html
  backend/templates/partials/_icon_navbar.html
  backend/templates/videos/video_create.html
  backend/templates/videos/video_detail.html
  backend/templates/videos/videopost.html
  backend/templates/videos/watchlater.html
  backend/videos/admin.py
  backend/videos/forms.py
  backend/videos/migrations/0001_initial.py
  backend/videos/models.py
  backend/videos/urls.py
  backend/videos/views.py
Labels: backend

#146 landing page
  frontend/landing/app.css
  frontend/landing/app.js
  frontend/landing/bg-image.jpg
  frontend/landing/bootstrap.bundle.min.js
  frontend/landing/bootstrap.css
  frontend/landing/call.png
  frontend/landing/category-anime.jpg
  frontend/landing/category-comedy.jpg
  frontend/landing/category-film.jpg
  frontend/landing/category-music.jpg
  frontend/landing/category-poetry.jpg
  frontend/landing/category-tutorial.jpg
  frontend/landing/feature-1.jpg
  frontend/landing/feature-2.jpg
  frontend/landing/feature-3.jpg
  frontend/landing/how-to-1.jpg
  frontend/landing/how-to-2.jpg
  frontend/landing/how-to-3.jpg
  frontend/landing/how-to-4.jpg
  frontend/landing/how-to-5.jpg
  frontend/landing/landing.html
  frontend/landing/logo.png
  requirements.txt
Labels: frontend

#149 test video upload and updated auth pages
  backend/accounts/views.py
  backend/config/settings.py
  backend/db.sqlite3
  backend/media/thumbnails/eva.png
  backend/media/thumbnails/forgot_password.png
  backend/media/thumbnails/forgot_password_nJ74rDG.png
  backend/media/videos/1._Introduction_Bn5FI6t.mp4
  backend/media/videos/1._Introduction_MnDSj8T.mp4
  backend/media/videos/1._Introduction_xco7D9L.mp4
  backend/static/images/left_arrow.png
  backend/static/images/logo_default.png
  backend/static/images/sms-notification.svg
  backend/static/styles/authentication.css
  backend/templates/account/notifications.html
  backend/templates/account/profile.html
  backend/templates/account/settings.html
  backend/templates/core/home.html
  backend/templates/core/landing.html
  backend/templates/partials/_form_errors.html
  backend/templates/partials/_icon_navbar.html
  backend/templates/registration/account_activation_sent.html
  backend/templates/registration/activate.html
  backend/templates/registration/base.html
  backend/templates/registration/login.html
  backend/templates/registration/password_reset_complete.html
  backend/templates/registration/password_reset_confirm.html
  backend/templates/registration/password_reset_done.html
  backend/templates/registration/password_reset_form.html
  backend/templates/registration/signup.html
  backend/templates/registration/signup_choice.html
  backend/videos/views.py
Labels: backend
